html,
body,
#root,
#__app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Airbnb Cereal App Book", sans-serif;
  background-color: black;
}

* {
  font-family: "Airbnb Cereal App Book", sans-serif;
}

input[type="text"] {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
  padding: 8px;
  transition: all 200ms ease;
}

label {
  display: block;
}
